In [1]:
from Bio import SeqIO
import pandas as pd
import numpy as np

In [46]:
rc_file = '/home/yuan/bio/results/P00005/T30_merge_read_counts/RC.txt'
df= pd.read_csv(rc_file, sep='\t', index_col=0)
print(df.shape)

(2, 99307)

In [47]:
print(len(set(df.columns)))
print(len(df.columns))

99307
99307

In [45]:
df.isna()

,hsa-miR-21-5p_hsa-miR-21-5p_MIMAT0000076_Homo_sapiens_miR-21-5p,hsa-mir-3916_hsa-mir-3916_MI0016422_Homo_sapiens_miR-3916_stem-loop,hsa-mir-200a_hsa-mir-200a_MI0000737_Homo_sapiens_miR-200a_stem-loop,hsa-let-7a-1_hsa-let-7a-1_MI0000060_Homo_sapiens_let-7a-1_stem-loop,hsa-mir-659_hsa-mir-659_MI0003683_Homo_sapiens_miR-659_stem-loop,hsa-mir-6886_hsa-mir-6886_MI0022733_Homo_sapiens_miR-6886_stem-loop,hsa-mir-6793_hsa-mir-6793_MI0022638_Homo_sapiens_miR-6793_stem-loop,hsa-miR-3064-3p_hsa-miR-3064-3p_MIMAT0019865_Homo_sapiens_miR-3064-3p,hsa-mir-181b-2_hsa-mir-181b-2_MI0000683_Homo_sapiens_miR-181b-2_stem-loop,hsa-mir-5010_hsa-mir-5010_MI0017878_Homo_sapiens_miR-5010_stem-loop,...,lcl|NW_017852933.1:LOC112268373,lcl|NW_018654710.1:CRYGEP,lcl|NW_021160017.1:LOC124905478,lcl|NW_021160017.1:LOC128966563,lcl|NW_021160017.1:LOC729900,lcl|NW_021160017.1:PDCD6IPP1,lcl|NW_021160024.1:ABCD1P4,lcl|NW_025791766.1:RPSAP28,lcl|NW_025791777.1:LOC643367,lcl|NW_025791798.1:ACTG1P15
C1S,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
P25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
rc_file = '/home/yuan/bio/results/P00002/T05_count_reads/LW_AI_1.RC.txt'
df = pd.read_csv(rc_file, index_col=0, header=0, sep='\t')
df.iloc[:,0]

reference
hsa-miR-100-5p_hsa-miR-100-5p_MIMAT0000098_Homo_sapiens_miR-100-5p        195
hsa-miR-486-5p_hsa-miR-486-5p_MIMAT0002177_Homo_sapiens_miR-486-5p        132
hsa-mir-486-2_hsa-mir-486-2_MI0023622_Homo_sapiens_miR-486-2_stem-loop    286
hsa-miR-6529-5p_hsa-miR-6529-5p_MIMAT0048637_Homo_sapiens_miR-6529-5p     168
hsa-mir-320a_hsa-mir-320a_MI0000542_Homo_sapiens_miR-320a_stem-loop        19
                                                                         ...
hsa-let-7a-3_hsa-let-7a-3_MI0000062_Homo_sapiens_let-7a-3_stem-loop         2
hsa-mir-19b-2_hsa-mir-19b-2_MI0000075_Homo_sapiens_miR-19b-2_stem-loop      1
hsa-mir-218-1_hsa-mir-218-1_MI0000294_Homo_sapiens_miR-218-1_stem-loop      2
hsa-mir-431_hsa-mir-431_MI0001721_Homo_sapiens_miR-431_stem-loop            1
hsa-mir-200a_hsa-mir-200a_MI0000737_Homo_sapiens_miR-200a_stem-loop         1
Name: LW_AI_1, Length: 311, dtype: int64

In [51]:
s = pd.Series([1,2,3], index=list('abb'), name='s1')
s

a    1
b    2
b    3
Name: s1, dtype: int64

In [55]:
s = s[~s.index.duplicated()]
s

a    1
b    2
Name: s1, dtype: int64

In [63]:
df = pd.DataFrame({'a':[1,0,0,0], 'b':[1,3,0,0]}).T
df

   0  1  2  3
a  1  0  0  0
b  1  3  0  0

In [72]:
df1 = df.loc[:,df.sum(axis=0)>0]
print(df1)

   0  1
a  1  0
b  1  3

In [75]:
df = pd.read_csv('/home/yuan/bio/results/P00001/T06_merge_read_counts/FPKM.txt', sep='\t')
list(df)

['ID',
 'seqid',
 'source',
 'feature',
 'start',
 'end',
 'score',
 'strand',
 'phase',
 'attributes',
 'ID.1',
 '1014_L1',
 '1073_L1',
 '197_L1']

In [77]:
df1 = df[['1014_L1','1073_L1','197_L1']]
df1

         1014_L1      1073_L1       197_L1
0    5758.232422  2165.547607  7275.268066
1     710.605286  1056.546875     0.000000
2     967.258972  1114.691162   962.533630
3     852.760742  1783.783447   970.251648
4     491.195038   618.721741     0.000000
..           ...          ...          ...
115     0.000000     0.000000   998.518250
116  1002.589539     0.000000   637.910889
117   561.213928   715.163513   910.150879
118   570.998291     0.000000     0.000000
119   504.075928   496.697998     0.000000

[120 rows x 3 columns]